a:link,a:visited,a:active,a:hover {
  text-decoration: none;
  color: cornflowerblue;
  font-family: Helvetica, Arial, sans-serif;
  padding: 1em;
  margin: 1em;
}

div.stickyshell {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

div.reslshell {
  position: relative;
  width: 100%;
}

.modal {
  position: absolute;
  width: 80%;
  margin: 1em 10%;
  display:none;
  z-index: 1000;
}

.close-modal {
  font-size: 32px;
  padding: 0.5em;
  z-index: 1001;
  position: absolute;
  cursor: pointer;
}

section#json-container-outer {
  padding: 4em;
  font-weight: 600;
  font-family: 'Roboto','Lucida Console',Courier
}

button#print-json {
  border: none;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 1em;
  margin: 1em;
  position: absolute;
  left: 10%;
  top: 3em;
  z-index: 1000;
  opacity: 0.75;
  cursor: pointer;
}

form#local-biz-json-builder,
select,
option,
input {
  font-family: "Ubumtu", Helvetica, Arial, sans-serif;
}

input {
}

section.local-biz-section {
  padding: 1em;
  margin: 1em;
  border-radius: 3px;
  max-width: 75%;
  min-width: 75%;
}

section#nap {

}

section#info {

}

section#links {

}

.relshell {
  position: relative;
}

h2,
h3,
h4 {
  text-align: center;
}

h5 {

}

label {
  max-width: 11em;
  text-indent: 0.5em;
  margin: 0.25em;
}

.day-label {
  max-width: 3em;
  min-width: 3em;
}

.sameas-label {

}

.service-link-label {

}

.keyword-label {

}

input,
select,
option {
  padding: 0.5em;
  margin: 0.5em;
}

select,
option {
  font-size: 16px;
  line-height: 100%;
}

input.field-counter {
  max-width: 3em;
  text-align: center;
  font-size: 16px;
}

.flex-outer {
  display: flex;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
}

.flex-column {
  display: flex;
  flex-flow: column wrap;
}

.flex-center {
  justify-content: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.navkit {
  border: 1px solid black;
  border-radius: 2px;
  width: 2em;
  padding: 0.25;
}
