a:link,a:visited,a:active,a:hover {
  text-decoration: none;
  color: cornflowerblue;
  font-family: Helvetica, Arial, sans-serif;
  padding: 1em;
  margin: 1em;
}

form#local-biz-json-builder,
select,
option,
input {
  font-family: "Ubumtu", Helvetica, Arial, sans-serif;
}

section.local-biz-section {
  padding: 1em;
  margin: 1em;
  border-radius: 3px;
  max-width: 50%;
  min-width: 50%;
}

section#nap {
  border: 2.2px solid blue;
}

section#info {
  border: 2.2px solid green;
}

section#links {
  border: 2.2px solid yellow;
}

.relshell {
  position: relative;
}

h2,
h3,
h4 {
  text-align: center;
}

label {
  max-width: 11em;
  text-indent: 0.5em;
  margin: 0.25em;
}

.day-label {

}

.sameas-label {

}

.service-link-label {

}

.keyword-label {
  
}

input,
select,
option {
  padding: 0.5em;
  margin: 0.5em;
}

select,
option {
  font-size: 16px;
  line-height: 100%;
}

input.field-counter {
  max-width: 3em;
  text-align: center;
  font-size: 16px;
}

.flex-outer {
  display: flex;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
}

.flex-column {
  display: flex;
  flex-flow: column wrap;
}

.flex-center {
  justify-content: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-start {
  justify-content: flex-start;
}

.navkit {
  border: 1px solid black;
  border-radius: 2px;
  width: 2em;
  padding: 0.25;
}
